<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/jquery-3.0.0/jquery-3.0.0.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"><link>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}"><link>
</head>
<body>
     <form name= "form" method = "post" action= "/login/verifyType">
         <h2>hello 欢迎进入系统</h2>
         <input type="text" name="empId" id="empId">输入学号</input>
         <button type="submit">确定</button>
         </div>
     </form>

</body>
</html>